* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.foto_cabecalho {
    width: 100vw;
    height: 200px;
}



.corpo__fotos {
    background-color: white;
    
}

.container__cabecalho-foto{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu__fotos{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
}
.menu__links-fotos {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.links__fotos {
    width: 40px;
}

.links__fotos-home {
    width: 40px;
}

.link__curso {
    width: 50px; 
}


.titulo__foto{
    text-align: center;
    font-family:"Lexend Giga", serif ;
    padding: 1rem;
    margin-right: 2rem;
    color: black
}

.paragrafo__foto {
    text-align: center;
    width: 90vw;
    color: black;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}



.container__fotos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div__foto {
    width: 90vw;
}
.img{
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.descricao__foto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    color: black;
    margin: 1rem 0;
}

.container__mailow {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#exibi__fotos{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    background-color: rgb(28, 165, 28);
    color: white;
    border: 2px solid black;
    border-radius: 2px;
}
.div__milow {
    width: 90vw;
    margin: 1rem auto;
    
}
.exibir__mailow {
    width: 90vw;
    margin: 0 auto 1rem auto;
    padding: 0 5vw;
}



.paragrafo__rodape-fotos {
    color: white;
    text-align: center;
    padding: 1rem;
}
.rodape__foto {
    background-color: blue;
}

.destaque {
    position: fixed; /* Faz a imagem ocupar a tela inteira */
    top: 0;
    left: 0;
    width: 100vw; /* Largura de 100% da tela */
    height: 100vh; /* Altura de 100% da tela */
    object-fit: cover; /* Garante que a imagem não será distorcida */
    z-index: 9999; /* Garante que a imagem ficará por cima de outros elementos */
    cursor: zoom-out; /* Altera o cursor para indicar que a imagem pode ser fechada */
}


.exibir__mailow {
    display: block;
}
.foto__mailow {
    display: none;
}

@media screen and (min-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .foto_cabecalho {
        display: none;
    }
    .menu__links-fotos {
        justify-content: space-evenly;
    }
    .paragrafo__foto{
        max-width: 600px;
        text-align: center;
    }
    .div__foto {
        text-align: center;
        max-width: 600px;
    }
    .img {
        max-width: 600px;
        text-align: center;
    }
    .descricao__foto {
        min-width: 600px;
        text-align: center;
    }
    .div__milow {
        margin: 1rem 0;
        padding: 0;
        width: 250px;
    }
    .exibi__fotos{
        text-align: center;
        margin: auto;
    }
    .exibir__mailow{
        width: 800px;
    }
}


