
.pg__principal {
   background-color: rgba(0, 0, 0, 0.795);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    
}

.cabecalho {
    height: 150px;
    
}
.menu{
    
}  

.menu__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
}
.links {
    display: inline;
    padding: 0.5rem;
    width: 60px;
}

.titulo {
    font-family: "Lexend Giga", serif;
    
    text-align: center;
    margin-bottom:1rem ;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.imagem-perfil {
    width: 50%;
    right: 50%;
    border-radius: 50%;
    margin:auto;
}

.paragrafo__sobre-mim {
    text-align: center;
    margin: 1rem 0 3rem;
    padding: 1rem 0;
    line-height: 1.5rem;
}
.sessao__sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0.8rem 175px;
}
.paragrafo__rodape {
    text-align: center;
    padding: 0 1rem;
}
.div__lampada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding-top: 2rem;
}

.lampada {
    width: 50px;;
}
.noturno {
    font-weight: bold;
    
}
.container__footer {
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}
.rodape {
    margin-top: 2rem;
    
}

.modo-claro {
    background-image: none;
    background-color: white;
    color: black;
}

/* Modo escuro */
.modo-escuro {
    background-color: rgba(0, 0, 0, 0.623);
    background-size: cover;
    background-position: center;
    color: white;
}