body, html {
   height:100vh;
}
.pg__principal {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.795);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    min-height: 100vh;
    
}
.menu__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.links {
    margin-top: 1rem;
    display: inline;
    width: 40px;
}

.titulo {
    font-family: "Lexend Giga", serif;
    text-align: center;
    margin-bottom:1rem ;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.imagem-perfil {
    width: 50%;
    right: 50%;
    border-radius: 50%;
    margin:auto;
}

.paragrafo__sobre-mim {
    text-align: center;
    margin-top: 1rem;
    line-height: 1.5rem;
}
.sessao__sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.paragrafo__rodape {
    text-align: center;
}
.div__lampada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.lampada {
    width: 50px;;
}
.noturno {
    font-weight: bold;
    
}
.container__footer {
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}
.rodape {
    
    
}

.modo-claro {
    background-image: none;
    background-color: white;
    color: white;
}

/* Modo escuro */
.modo-escuro {
    background-color: rgba(0, 0, 0, 0.795);
    background-size: cover;
    background-position: center;
    color: white;
}


@media screen and (min-width: 600px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .pg__principal {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .conteudo {
        flex: 1;
    }

    .imagem-perfil {
        width: 30%;
    }

    .links:hover {
        width: 7%;
    }
    .div__lampada {
        margin-top: 5rem;
    }
    .paragrafo__sobre-mim{
        max-width: 800px;
    }

}

@media screen and (min-width: 800px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .pg__principal {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .menu__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    .links {
        margin-left: 4rem;
    }
    .conteudo {
        flex: 1;
    }

    .imagem-perfil {
        width: 30%;
    }

    .links:hover {
        width: 3%;
    }
    .div__lampada {
        margin-top: 5rem;
    }
    .paragrafo__sobre-mim{
        max-width: 800px;
    }

}

